html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1100px;
    max-width: 100%;
}

/* HEADER */
.main-header {
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.201) 5px 1px 15px;
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 0;
    align-items: center;
}

.bungkus-header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10;
}

.main-header .bungkus-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nama {
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.bungkus-nav ul {
    padding: 22px;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    align-items: center;
}

/* HEADER */

/* OPENING */
.bungkus-opening {
    text-align: center;
    padding: 80px 0;
    margin-top: 70px;
}

.h1-opening {
    font-size: 3.75rem;
    font-weight: 700;
    padding: 20px;
}

.p-opening {
    font-size: 18px;
    color: rgb(81, 80, 80);
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 700px;
    margin-bottom: 20px;
}

.button-opening {
    background-color: #0066ff;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    border: none;
}

/* OPENING */


/* FIRST-CONTENT */
.first-content {
    background-color: white;
}

#about-me {
    scroll-margin-top: 60px;
}

#galeri {
    scroll-margin-top: 60px;
}

#project {
    scroll-margin-top: 60px;
}

#kontak {
    scroll-margin-top: 60px;
}


.bungkus-opening {
    text-align: center;
    padding: 45px 0;
}

.h1-first {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.p-first {
    font-size: 18px;
    color: rgb(81, 80, 80);
    margin: auto;
    max-width: 1000px;
    padding: 45px;
    text-align: left;
    align-items: center
}

.p-atas {
    margin-bottom: 20px;
}

.bungkus-first {
    text-align: center;
    padding: 40px 0;
}

/* FIRST-CONTENT */


/* SECOOND-CONTENT */
.h1-second {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.p-second {
    font-size: 18px;
    color: rgb(81, 80, 80);
    margin: auto;
    padding: 60px;
    text-align: left;
    align-items: center;
}

.bungkus-second {
    text-align: center;
    padding: 40px 0;
}

/* GALLERY */

.container-gallery {
    display: block;
    max-width: 90%;
    max-width: 1200px;
    margin: auto;

}

.gallery {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 50px;
}


.card {
    background-color: white;
    width: 360px;
    height: 480px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.201) 5px 1px 15px;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: rgb(114, 80, 247) 5px 3px 15px;
    transform: translateY(-5px);
}

.card-title {
    font-size: 16px;
    text-align: left;

}

.card-description {
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tags {
    background-color: #e0e7ff;
    color: #4338ca;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}

.tags2 {
    background-color: #e0e7ff;
    color: #4338ca;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}

.tags3 {
    background-color: #e0e7ff;
    color: #4338ca;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}

.link {
    font-size: 14px;
    color: rgb(0, 128, 255);
    cursor: pointer;
    text-decoration: none;
}


.card-info {
    padding: 24px;
}

.tech-info {
    font-size: 8px;
    margin-bottom: 20px;
    display: flex;

}

.card-info .card-description {
    margin-top: 10px;
    text-align: left;
}

.card-info .card-title {
    margin-top: 10px;
}

/* GALLERY */






/* SECOOND-CONTENT */

/* THIRD_CONTENT */
.bungkus-third {
    text-align: center;
    padding: 80px 0;
    background-color: white;
}

.h1-third {
    font-size: 40px;
    font-weight: bold;
    padding: 45px;
}

.p-third {
    font-size: 18px;
    color: rgb(81, 80, 80);
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 700px;
}

.button-third {
    background-color: #0066ff;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    border: none;
}

/* BADGES */
.badges-container {
    max-width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    text-align: left;
}

.badges-container-title1 {
    color: rgb(130, 130, 130);

}

.badges-container-title2 {
    color: black;
    margin-top: 6px;
}

.badges-container-description {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: black;
}

.bungkus-badges {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 7px;
    justify-content: center;
    align-items: center;
}

.badges {
    background-color: whitesmoke;
    margin: auto;
    padding: 8px;
    border-radius: 4px;
    align-items: center;
    padding-top: calc(1rem);
    padding-right: calc(1rem);
    padding-bottom: calc(1rem);
    padding-left: calc(1rem);
    padding-block-start: calc(0.5rem);
    padding-block-end: calc(0.5rem);
    transition: all 0.3s ease;
}

.badges:hover {
    box-shadow: rgb(105, 105, 105) 2px 3px 5px;
    transform: translateY(-2px);
}

.badges-info {
    display: flex;
    align-items: center;
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;

}

.badges-img {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.badges-title {
    font-size: 12px;
    font-weight: normal;
    color: black;
}

/* BADGES */





/* THIRD_CONTENT */



/* GALERI */
.bungkus-galeri {
    text-align: center;
    padding: 80px 0;
    background-color: white;
}

.h1-galeri {
    font-size: 40px;
    font-weight: bold;
    padding: 45px;
}

.p-galeri {
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.button-kontak {
    padding: 20px;
    border-radius: 45px;
    color: white;
    background-color: rgb(0, 106, 255);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: none;
}

/* GALERI */





/* KONTAK */
.container-kontak {
    text-align: center;
    background-color: none;
    padding: 80px;
    align-items: center;
}


.h1-kontak {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.p-kontak {
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.bungkus-kontak {
    padding: 20px;
}

.kontak-kontak {
    margin: auto;

}

.cont-kontak {
    display: flex;
    justify-content: center;

}

.kontak-image {
    width: 52px;
    height: 52px;
    transition: all 0.3s ease;
}

.kontak-image:hover {
    transform: translateY(-2px);
}

/* KONTAK */

/* KAKI */
.kaki {
    padding: 40px;
    font-size: 18px;
    text-align: center;
    background-color: black;
    color: white;
}

/* KAKI */

.garis {
    width: 60px;
    height: 5px;
    background-color: blue;
    margin: auto;
    border-radius: 10px;

}