* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: whitesmoke;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.subtitle {
  color: black;
  text-align: center;
  font-size: 1.1em;
  padding: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  ;

}

.card {
  box-sizing: border-box;

  background-color: white;
  width: 300px;
  height: 450px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.201) 5px 1px 15px;
  transition: all 0.3s ease;

}

.card:hover {
  box-shadow: rgb(114, 80, 247) 5px 3px 15px;
  transform: translateY(-5px);
}

.card-title {
  font-size: 16px;

}

.card-description {
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tags {
  background-color: #e0e7ff;
  color: #4338ca;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}

.tags2 {
  background-color: #e0e7ff;
  color: #4338ca;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}

.link {
  font-size: 14px;
  color: rgb(0, 128, 255);
  cursor: pointer;
  text-decoration: none;
}


.card-info {
  padding: 24px;
}

.tech-info {
  font-size: 8px;
  margin-bottom: 30px;
}

.card-info .card-description {
  margin-top: 10px;
}

.card-info .card-title {
  margin-top: 10px;
}


/* KONTAINER DUAA */
.badges-container {
  max-width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  text-align: left;
}

.badges-container-title1 {
  color: rgb(130, 130, 130);

}

.badges-container-title2 {
  color: black;
  margin-top: 20px;
}

.badges-container-description {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
}

.bungkus-badges {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 7px;
  justify-content: center;
  align-items: center;
}

.badges {
  background-color: white;
  margin: auto;
  padding: 8px;
  border-radius: 4px;
  align-items: center;
  padding-top: calc(1rem);
  padding-right: calc(1rem);
  padding-bottom: calc(1rem);
  padding-left: calc(1rem);
  padding-block-start: calc(0.5rem);
  padding-block-end: calc(0.5rem);
}

.badges-info {
  display: flex;
  align-items: center;
  white-space-collapse: collapse;
  text-wrap-mode: nowrap;

}

.badges-img {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.badges-title {
  font-size: 12px;
  font-weight: normal;
}




/* SAMPING */





/* PANEL */
element.style {
  position: relative;
  height: 3946px;
}

.section-panel {
  width: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;

}

.bungkus-bungkuspanel {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.bungkus-panel {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: auto;
  align-items: start;
  display: grid;
}

.panel {
  width: calc(50% + 70px);
  top: 0px;
  left: 0px;
  display: flex;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  padding-top: calc(8px);
  padding-right: calc(8px);
  padding-bottom: calc(8px);
  padding-left: calc(8px);
  display: block;
}


.panel-content {
  padding: 0px;
}

.panel-link {
  color: blanchedalmond;
}

.panel-img {
  border-radius: 8px;
}

/* PANEL */